In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
payroll = pd.read_csv('nba data/NBA Payroll(1990-2023).csv')
stats = pd.read_csv('nba data/NBA Player Stats(1950 - 2022).csv')
salaries = pd.read_csv('nba data/NBA Salaries(1990-2023).csv')

In [5]:
payroll = payroll.drop('Unnamed: 0', axis=1)
payroll

              team  seasonStartYear       payroll inflationAdjPayroll
0        Cleveland             1990   $14,403,000         $32,854,246
1         New York             1990   $13,290,000         $30,315,416
2          Detroit             1990   $12,910,000         $29,448,608
3        LA Lakers             1990   $12,120,000         $27,646,565
4          Atlanta             1990   $11,761,000         $26,827,658
..             ...              ...           ...                 ...
961       Portland             2021  $124,788,473        $136,093,994
962      Charlotte             2021  $122,139,566        $133,205,107
963       New York             2021  $120,644,081        $131,574,134
964        Memphis             2021  $117,284,457        $127,910,133
965  Oklahoma City             2021   $82,022,873         $89,453,934

[966 rows x 4 columns]

In [7]:
payroll.rename_axis('team_id', inplace=True)
payroll

                  team  seasonStartYear       payroll inflationAdjPayroll
team_id
0            Cleveland             1990   $14,403,000         $32,854,246
1             New York             1990   $13,290,000         $30,315,416
2              Detroit             1990   $12,910,000         $29,448,608
3            LA Lakers             1990   $12,120,000         $27,646,565
4              Atlanta             1990   $11,761,000         $26,827,658
...                ...              ...           ...                 ...
961           Portland             2021  $124,788,473        $136,093,994
962          Charlotte             2021  $122,139,566        $133,205,107
963           New York             2021  $120,644,081        $131,574,134
964            Memphis             2021  $117,284,457        $127,910,133
965      Oklahoma City             2021   $82,022,873         $89,453,934

[966 rows x 4 columns]

In [9]:
team_short = pd.DataFrame({})

,Unnamed: 0.1,Unnamed: 0,Season,Player,Pos,Age,Tm,G,GS,MP,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1,1950,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,2,1950,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,3,1950,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,4,1950,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28232,29344,837,2022,Thaddeus Young,PF,33.0,TOR,26.0,0.0,475.0,...,0.481,40.0,75.0,115.0,45.0,31.0,11.0,22.0,43.0,164.0
28233,29345,838,2022,Trae Young,PG,23.0,ATL,76.0,76.0,2652.0,...,0.904,50.0,234.0,284.0,737.0,72.0,7.0,303.0,128.0,2155.0
28234,29346,839,2022,Omer Yurtseven,C,23.0,MIA,56.0,12.0,706.0,...,0.623,85.0,209.0,294.0,49.0,17.0,20.0,41.0,84.0,299.0
28235,29347,840,2022,Cody Zeller,C,29.0,POR,27.0,0.0,355.0,...,0.776,50.0,75.0,125.0,22.0,8.0,6.0,19.0,56.0,140.0
28236,29348,841,2022,Ivica Zubac,C,24.0,LAC,76.0,76.0,1852.0,...,0.727,217.0,427.0,644.0,120.0,36.0,77.0,114.0,203.0,785.0

In [15]:
from bs4 import BeautifulSoup
import requests

In [16]:
response = requests.get('https://en.wikipedia.org/wiki/Wikipedia:WikiProject_National_Basketball_Association/National_Basketball_Association_team_abbreviations')
html = response.text
soup = BeautifulSoup(html, 'html.parser')

In [81]:
short = []
long = []
for mini_soup in soup.find('tbody').find_all('tr'):
    try:
        long.append(mini_soup.find('a')['title'])
    except Exception:
        long.append(None)

In [82]:
for mini_soup in soup.find('tbody').find_all('tr'):
    short.append(mini_soup.find('td').text.strip())

In [90]:
sett = set()
for i in stats.Tm:
    if i not in short:
        sett.add(i)

In [95]:
stats.Tm.value_counts()

TOT    2504
NYK    1147
BOS    1105
DET    1029
PHI     985
       ...
AND      16
DNN      15
CAP      14
STB      14
CHS      13
Name: Tm, Length: 69, dtype: int64

In [96]:
short.append('BAL')
long.append('Baltimore Bullets')

In [21]:
short = []
long = []
html = requests.get('http://www.shrpsports.com/nba/explain.htm').text
soup2 = BeautifulSoup(html, 'html.parser')

for mini_soup in soup2.find_all('tr', class_ = 'font1big'):
    i = mini_soup.find('td', width=50)
    j = mini_soup.find('td', width=424)
    if i is not None:
        short.append(i.text.upper())
    if j is not None:
        long.append(j.text.title())
    # print(mini_soup.find('td', width = 50).text.upper())
    # print((mini_soup.find('td', width = 424)))

In [22]:
for mini_soup in soup2.find_all('tr', class_ = 'font2big'):
    i = mini_soup.find('td', width=50)
    j = mini_soup.find('td', width=424)
    if i is not None:
        short.append(i.text.upper())
    if j is not None:
        long.append(j.text.title())

In [23]:
abr = pd.DataFrame({'Team Short':short, 'Team Long':long})
abr

   Team Short                                          Team Long
0         ATL                  Atlanta Hawks (1968-69 - Present)
1         BLB   Baltimore Bullets (1St Team) (1947-48 - 1953-54)
2         BOS                 Boston Celtics (1946-47 - Present)
3         BUF                 Buffalo Braves (1970-71 - 1977-78)
4         CHA  Charlotte Hornets (1988-89 - 2001-02, 2014-15 ...
..        ...                                                ...
68        SYR             Syracuse Nationals (1949-50 - 1962-63)
69        TOR                Toronto Raptors (1995-96 - Present)
70        UTA                      Utah Jazz (1979-80 - Present)
71        WSC            Washington Capitols (1946-47 - 1949-50)
72        WSH             Washington Wizards (1997-98 - Present)

[73 rows x 2 columns]

In [138]:
common=list(set(abr['Team Short']) and set(stats['Tm']))
common = pd.Series(common)

KeyError: 'data'

In [144]:
abr[abr['Team Short']==common]

ValueError: Can only compare identically-labeled Series objects

In [146]:
stats = stats.merge(abr, how='inner', left_on='Tm', right_on='Team Short')

In [149]:
stats.to_csv('nba data/NBA Player Stats.csv')

In [158]:
stats["Team Long"].value_counts()

Boston Celtics (1946-47 - Present)                            1105
Detroit Pistons (1957-58 - Present)                           1029
Philadelphia 76Ers (1963-64 - Present)                         985
Los Angeles Lakers (1960-61 - Present)                         944
Milwaukee Bucks (1968-69 - Present)                            910
Cleveland Cavaliers (1970-71 - Present)                        904
Chicago Bulls (1966-67 - Present)                              899
Atlanta Hawks (1968-69 - Present)                              895
Phoenix Suns (1968-69 - Present)                               869
Houston Rockets (1971-72 - Present)                            862
Portland Trailblazers (1970-71 - Present)                      821
Denver Nuggets (2Nd Team) (1976-77 - Present)                  773
Dallas Mavericks (1980-81 - Present)                           728
Indiana Pacers (1976-77 - Present)                             726
Utah Jazz (1979-80 - Present)                                  678
Los Angeles Clippers (1984-85 - Present)                       673
Sacramento Kings (1985-86 - Present)                           638
Seattle Supersonics (1967-68 - 2007-08)                        606
Miami Heat (1988-89 - Present)                                 589
Orlando Magic (1989-90 - Present)                              574
Minnesota Timberwolves (1989-90 - Present)                     550
Toronto Raptors (1995-96 - Present)                            505
Memphis Grizzlies (2001-02 - Present)                          402
Washington Bullets (1974-75 - 1996-97)                         355
Oklahoma City (2008-09 - Present)                              264
Cincinnati Royals (1957-58 - 1971-72)                          199
St Louis Hawks (1955-56 - 1967-68)                             187
Charlotte Hornets (1988-89 - 2001-02, 2014-15 - Present)       183
Syracuse Nationals (1949-50 - 1962-63)                         176
Philadelphia Warriors (1946-47 - 1961-62)                      170
New Orleans Hornets (2002-03 - 2004-05, 2007-08 - 2012-13)     161
Baltimore Bullets (2Nd Team) (1963-64 - 1972-73)               144
Minneapolis Lakers (1948-49 - 1959-60)                         135
Buffalo Braves (1970-71 - 1977-78)                             120
Ft Wayne Pistons (1948-49 - 1956-57)                           114
Baltimore Bullets (1St Team) (1947-48 - 1953-54)               107
Vancouver Grizzlies (1995-96 - 2000-01)                         98
Rochester Royals (1948-49 - 1956-57)                            94
New Orleans Jazz (1974-75 - 1978-79)                            77
Milwaukee Hawks (1951-52 - 1954-55)                             75
Indianapolis Olympians (1949-50 - 1952-53)                      52
San Diego Rockets (1967-68 - 1970-71)                           51
Kc-Omaha Kings (1972-73 - 1974-75)                              48
Tri-Cities Blackhawks (1949-50 - 1950-51)                       42
New Orleans/Oklahoma City Hornets (2005-06 - 2006-07)           34
Washington Capitols (1946-47 - 1949-50)                         31
Waterloo Hawks (1949-50)                                        21
New York Nets (1976-77)                                         18
Chicago Packers (1961-62)                                       17
Sheboygan Redskins (1949-50)                                    17
Chicago Zephyrs (1962-63)                                       17
Anderson Packers (1949-50)                                      16
Denver Nuggets (1St Team) (1949-50)                             15
Capital Bullets (1973-74)                                       14
St Louis Bombers (1946-47 - 1949-50)                            14
Chicago Stags (1946-47 - 1949-50)                               13
Name: Team Long, dtype: int64

In [187]:
abr['Team Long'] = abr['Team Long'].str.split(' \(', expand=True)[0]
abr

   Team Short            Team Long
0         ATL        Atlanta Hawks
1         BLB    Baltimore Bullets
2         BOS       Boston Celtics
3         BUF       Buffalo Braves
4         CHA    Charlotte Hornets
..        ...                  ...
68        SYR   Syracuse Nationals
69        TOR      Toronto Raptors
70        UTA            Utah Jazz
71        WSC  Washington Capitols
72        WSH   Washington Wizards

[73 rows x 2 columns]

In [160]:
payroll['team'] = payroll.team.replace({'Boston':'Boston Celtics', 'Detroit':'Detroit Pistons', 'Philadelphia':'Philadelphia 76Ers',
                      'LA Lakers':'Los Angeles Lakers', 'Milwaukee':'Milwaukee Bucks', 'Cleveland':'Cleveland Cavaliers', 'Chicago':'Chicago Bulls', 'Atlanta':'Atlanta Hawks', 'Phoenix':'Phoenix Suns', 'Houston':'Houston Rockets', 'Portland':'Portland Trailblazers', 'Denver':'Denver Nuggets', 'Dallas':'Dallas Mavericks', 'Indiana':'Indiana Pacers', 'Utah':'Utah Jazz', 'LA Clippers':'Los Angeles Clippers', 'Sacramento':'Sacramento Kings', 'Miami':'Miami Heat', 'Orlando':'Orlando Magic','Minnesota':'Minnesota Timberwolves', 'Toronto':'Toronto Raptors', 'Memphis':'Memphis Grizzlies', 'Oklahoma City':'Oklahoma City', })

In [188]:
payroll = payroll.merge(abr, how='inner', left_on='team', right_on='Team Long')
payroll

,team,seasonStartYear,payroll,inflationAdjPayroll,Team Short,Team Long
0,Cleveland Cavaliers,1990,"$14,403,000","$32,854,246",CLE,Cleveland Cavaliers
1,Cleveland Cavaliers,1991,"$16,882,000","$36,781,775",CLE,Cleveland Cavaliers
2,Cleveland Cavaliers,1992,"$19,676,000","$41,584,979",CLE,Cleveland Cavaliers
3,Cleveland Cavaliers,1993,"$23,711,000","$48,655,325",CLE,Cleveland Cavaliers
4,Cleveland Cavaliers,1994,"$28,106,000","$56,271,053",CLE,Cleveland Cavaliers
...,...,...,...,...,...,...
777,Toronto Raptors,2018,"$137,793,831","$162,030,191",TOR,Toronto Raptors
778,Toronto Raptors,2019,"$122,463,495","$141,668,046",TOR,Toronto Raptors
779,Toronto Raptors,2020,"$129,131,910","$148,423,773",TOR,Toronto Raptors
780,Toronto Raptors,2021,"$134,896,484","$147,117,769",TOR,Toronto Raptors
781,Toronto Raptors,2021,"$134,896,484","$147,117,769",TOR,Toronto Raptors

In [194]:
salaries.to_csv('nba data/player_sal_lookup.csv')

In [195]:
stats.to_csv('nba data/player_stats.csv')

In [196]:
payroll.to_csv('nba data/team_lookup.csv')

In [4]:
salaries = pd.read_csv('nba data/player_sal_lookup.csv')
stats = pd.read_csv('nba data/player_stats.csv')
team = pd.read_csv('nba data/team_lookup.csv')

In [8]:
stats.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.2'], inplace=True, axis=1)

In [9]:
stats

,Season,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Team Short,Team Long
0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,144.0,516.0,...,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0,FTW,Ft Wayne Pistons (1948-49 - 1956-57)
1,1950,Charlie Black,F-C,28.0,FTW,36.0,NaN,NaN,125.0,435.0,...,NaN,NaN,75.0,NaN,NaN,NaN,140.0,382.0,FTW,Ft Wayne Pistons (1948-49 - 1956-57)
2,1950,Bob Carpenter,F-C,32.0,FTW,66.0,NaN,NaN,212.0,617.0,...,NaN,NaN,92.0,NaN,NaN,NaN,168.0,614.0,FTW,Ft Wayne Pistons (1948-49 - 1956-57)
3,1950,Bob Harris,F-C,22.0,FTW,62.0,NaN,NaN,168.0,465.0,...,NaN,NaN,129.0,NaN,NaN,NaN,190.0,476.0,FTW,Ft Wayne Pistons (1948-49 - 1956-57)
4,1950,Bill Henry,C,25.0,FTW,44.0,NaN,NaN,65.0,209.0,...,NaN,NaN,39.0,NaN,NaN,NaN,99.0,214.0,FTW,Ft Wayne Pistons (1948-49 - 1956-57)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20739,2022,Zavier Simpson,PG,24.0,OKC,4.0,4.0,174.0,19.0,52.0,...,19.0,21.0,30.0,5.0,4.0,10.0,15.0,44.0,OKC,Oklahoma City (2008-09 - Present)
20740,2022,Lindy Waters III,SG,24.0,OKC,25.0,1.0,465.0,71.0,175.0,...,67.0,73.0,24.0,19.0,8.0,11.0,31.0,199.0,OKC,Oklahoma City (2008-09 - Present)
20741,2022,Paul Watson,SF,27.0,OKC,9.0,3.0,156.0,12.0,35.0,...,24.0,27.0,8.0,3.0,3.0,4.0,10.0,31.0,OKC,Oklahoma City (2008-09 - Present)
20742,2022,Aaron Wiggins,SG,23.0,OKC,50.0,35.0,1209.0,156.0,337.0,...,127.0,178.0,68.0,30.0,10.0,54.0,93.0,416.0,OKC,Oklahoma City (2008-09 - Present)
20743,2022,Kenrich Williams,SF,27.0,OKC,49.0,0.0,1072.0,146.0,317.0,...,145.0,220.0,108.0,44.0,10.0,46.0,81.0,363.0,OKC,Oklahoma City (2008-09 - Present)

In [12]:
player_lookup = stats[['Player', 'Pos', 'Age', 'Team Short']].drop_duplicates('Player')
player_lookup

                       Player  Pos   Age Team Short
0             Curly Armstrong  G-F  31.0        FTW
1               Charlie Black  F-C  28.0        FTW
2               Bob Carpenter  F-C  32.0        FTW
3                  Bob Harris  F-C  22.0        FTW
4                  Bill Henry    C  25.0        FTW
...                       ...  ...   ...        ...
20736  Jeremiah Robinson-Earl    C  21.0        OKC
20738            Olivier Sarr    C  22.0        OKC
20739          Zavier Simpson   PG  24.0        OKC
20740        Lindy Waters III   SG  24.0        OKC
20742           Aaron Wiggins   SG  23.0        OKC

[4161 rows x 4 columns]

In [35]:
long_team = abr['Team Long'].str.split(' \(', expand=True)[0]
long_team

0           Atlanta Hawks
1       Baltimore Bullets
2          Boston Celtics
3          Buffalo Braves
4       Charlotte Hornets
             ...
68     Syracuse Nationals
69        Toronto Raptors
70              Utah Jazz
71    Washington Capitols
72     Washington Wizards
Name: 0, Length: 73, dtype: object

In [37]:
abr['Team Long'] = long_team

   Team Short            Team Long
0         ATL        Atlanta Hawks
1         BLB    Baltimore Bullets
2         BOS       Boston Celtics
3         BUF       Buffalo Braves
4         CHA    Charlotte Hornets
..        ...                  ...
68        SYR   Syracuse Nationals
69        TOR      Toronto Raptors
70        UTA            Utah Jazz
71        WSC  Washington Capitols
72        WSH   Washington Wizards

[73 rows x 2 columns]

In [38]:
team_lookup = abr
team_lookup.to_csv('nba data/team_lookup.csv')

In [39]:
player_lookup.to_csv('nba data/player_lookup.csv')

In [42]:
stats.drop(['Team Long'], inplace=True, axis=1)

In [44]:
stats.drop(['Team Short'], axis=1)

,Season,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,144.0,516.0,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950,Charlie Black,F-C,28.0,FTW,36.0,NaN,NaN,125.0,435.0,...,0.632,NaN,NaN,NaN,75.0,NaN,NaN,NaN,140.0,382.0
2,1950,Bob Carpenter,F-C,32.0,FTW,66.0,NaN,NaN,212.0,617.0,...,0.742,NaN,NaN,NaN,92.0,NaN,NaN,NaN,168.0,614.0
3,1950,Bob Harris,F-C,22.0,FTW,62.0,NaN,NaN,168.0,465.0,...,0.628,NaN,NaN,NaN,129.0,NaN,NaN,NaN,190.0,476.0
4,1950,Bill Henry,C,25.0,FTW,44.0,NaN,NaN,65.0,209.0,...,0.672,NaN,NaN,NaN,39.0,NaN,NaN,NaN,99.0,214.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20739,2022,Zavier Simpson,PG,24.0,OKC,4.0,4.0,174.0,19.0,52.0,...,1.000,2.0,19.0,21.0,30.0,5.0,4.0,10.0,15.0,44.0
20740,2022,Lindy Waters III,SG,24.0,OKC,25.0,1.0,465.0,71.0,175.0,...,0.800,6.0,67.0,73.0,24.0,19.0,8.0,11.0,31.0,199.0
20741,2022,Paul Watson,SF,27.0,OKC,9.0,3.0,156.0,12.0,35.0,...,0.500,3.0,24.0,27.0,8.0,3.0,3.0,4.0,10.0,31.0
20742,2022,Aaron Wiggins,SG,23.0,OKC,50.0,35.0,1209.0,156.0,337.0,...,0.729,51.0,127.0,178.0,68.0,30.0,10.0,54.0,93.0,416.0
20743,2022,Kenrich Williams,SF,27.0,OKC,49.0,0.0,1072.0,146.0,317.0,...,0.545,75.0,145.0,220.0,108.0,44.0,10.0,46.0,81.0,363.0

In [45]:
len(team_lookup)

73

In [47]:
player_lookup

                       Player  Pos   Age Team Short
0             Curly Armstrong  G-F  31.0        FTW
1               Charlie Black  F-C  28.0        FTW
2               Bob Carpenter  F-C  32.0        FTW
3                  Bob Harris  F-C  22.0        FTW
4                  Bill Henry    C  25.0        FTW
...                       ...  ...   ...        ...
20736  Jeremiah Robinson-Earl    C  21.0        OKC
20738            Olivier Sarr    C  22.0        OKC
20739          Zavier Simpson   PG  24.0        OKC
20740        Lindy Waters III   SG  24.0        OKC
20742           Aaron Wiggins   SG  23.0        OKC

[4161 rows x 4 columns]

In [50]:
salaries.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)

              playerName  seasonStartYear      salary inflationAdjSalary
0          Patrick Ewing             1990  $4,250,000         $9,694,547
1       Hot Rod Williams             1990  $3,785,000         $8,633,850
2        Hakeem Olajuwon             1990  $3,175,000         $7,242,397
3        Charles Barkley             1990  $2,900,000         $6,615,103
4           Chris Mullin             1990  $2,850,000         $6,501,049
...                  ...              ...         ...                ...
15852    Jaime Echenique             2021     $53,176            $57,993
15853       Luca Vildoza             2021     $42,789            $46,665
15854     Zavier Simpson             2021     $37,223            $40,595
15855  Mfiondu Kabengele             2021     $19,186            $20,924
15856     Melvin Frazier             2021     $13,294            $14,498

[15857 rows x 4 columns]

In [51]:
salaries.to_csv('nba data/player_salaries.csv')

In [55]:
team.drop(['Unnamed: 0', 'Team Short', 'Team Long'], inplace=True, axis=1)

In [56]:
team.to_csv('nba data/team_payrolls.csv')

In [58]:
salaries.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)

In [59]:
salaries.to_csv('nba data/player_salaries.csv')

In [66]:
team_lookup = team_lookup.drop_duplicates('Team Long')
team_lookup.to_csv('nba data/team_lookup.csv')

In [2]:
stats = pd.read_csv('nba data/player_stats.csv')
stats

,Unnamed: 0.1,Unnamed: 0,Season,Player,Pos,Age,Tm,G,GS,MP,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1,1950,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,2,1950,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,3,1950,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,4,1950,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28232,29344,837,2022,Thaddeus Young,PF,33.0,TOR,26.0,0.0,475.0,...,0.481,40.0,75.0,115.0,45.0,31.0,11.0,22.0,43.0,164.0
28233,29345,838,2022,Trae Young,PG,23.0,ATL,76.0,76.0,2652.0,...,0.904,50.0,234.0,284.0,737.0,72.0,7.0,303.0,128.0,2155.0
28234,29346,839,2022,Omer Yurtseven,C,23.0,MIA,56.0,12.0,706.0,...,0.623,85.0,209.0,294.0,49.0,17.0,20.0,41.0,84.0,299.0
28235,29347,840,2022,Cody Zeller,C,29.0,POR,27.0,0.0,355.0,...,0.776,50.0,75.0,125.0,22.0,8.0,6.0,19.0,56.0,140.0
28236,29348,841,2022,Ivica Zubac,C,24.0,LAC,76.0,76.0,1852.0,...,0.727,217.0,427.0,644.0,120.0,36.0,77.0,114.0,203.0,785.0

In [5]:
stats.drop(['Unnamed: 0', 'Unnamed: 0.1'], inplace=True, axis=1)
stats.to_csv('nba data/stats.csv')